// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/buttons";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

:root {
    --blue-pale: hsl(225, 100%, 94%);
    --blue-bright: hsl(245, 75%, 52%);

    --blue-pale-2: hsl(225, 100%, 98%);
    --blue-desat: hsl(224, 23%, 55%);
    --blue-dark: hsl(223, 47%, 23%);

    --fs-text-xs: .75rem;
    --fs-text-sm: .875rem;
    --fs-h1: 2rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    --fs-link: 1.125rem;
    --fs-button: 1.125rem;

    --p-card: 1.5rem;
    --p-card-sm: 2.5rem;
    --p-card-md: 3rem;

    --px-button: 1.5rem;
    --py-button: .75rem;
    --px-button-sm: 1.5rem;
    --py-button-sm: 1rem;

    --border-radius-cards: 1.25rem;

}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}
body {
    font-family: "Red Hat Display";
    font-size: var(--fs-text-sm);
    font-weight: 500;
}
a,p,button,h1,h2,h3,h4,h5,h6 {
    font-family: "Red Hat Display";
}
p {
    margin: 0;
}

h1 {
    
    font-size: var(--fs-h1);
    font-weight: 900;
    color: var(--blue-dark);
    line-height: 1.1;
    margin-bottom: .5rem;
}

.page {
    width: 100%;
    height: 100vh;
    
}
.page__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--blue-pale);
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content:"";
        background-image: url('../images/pattern-background-mobile.svg');
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        z-index: -1;
        @include media-breakpoint-up(sm) {
            background-image: url('../images/pattern-background-desktop.svg');
        }
    }
}

.btn {
    border-radius: 10px;
    font-weight: 700;
    padding: var(--py-button) var(--px-button);
}

.btn-primary {
    background-color: var(--blue-bright);
    border-color: var(--blue-bright);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover, &:focus-visible, &:active {
        background-color: lighten(hsl(245, 75%, 52%), 10%);
        border-color: lighten(hsl(245, 75%, 52%), 10%);
    }
}

.btn-link {
    color: var(--blue-bright);
    padding: .5rem;
    &:hover, &:focus-visible, &:active {
        color: var(--blue-dark);
    }
}

.img-fluid {
    max-width: 100%;
}

.card-order-summary {
    max-width: 350px;
    border-radius: var(--border-radius-cards);
    background-color: #fff;
    text-align: center;
}

.card-order-summary__image {
    border-top-left-radius: var(--border-radius-cards);
    border-top-right-radius: var(--border-radius-cards);
}

.card-order-summary__body {
    padding: var(--p-card-sm) var(--p-card);
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}
.card-order-summary__title {
    font-size: var(--fs-h3);
    font-weight: 900;
    margin-bottom: -.5rem;
}
.card-order-summary__text {
    color: var(--blue-desat);
}

.card-order-summary__abo-selection {

}
.card-order-summary__action {
    display: flex;
    flex-flow: column nowrap;
    gap: .75rem;
}

.card-order-summary__button-cancel {
    color: var(--blue-desat);
    font-size: var(--fs-text);
}


.card-abo-selection {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blue-pale-2);
    border-radius: var(--border-radius-cards);
    @media (max-width: 320px) {
        gap: .5rem;
    }
}

.card-abo-selection__icon {
    @media (max-width: 290px) {
        display: none;
    }
}

.card-abo-selection__name {
    font-weight: 900;
    color: var(--blue-dark);
    font-size: 15px;
}
.card-abo-selection__pricing {
    color: var(--blue-desat);
    font-weight: 700;
    font-size: var(--fs-text-sm);
}
.card-abo-selection__button {
    font-size: var(--fs-text-sm);
    margin-left: auto;
    &:hover, &:focus-visible, &:active {
        color: lighten(hsl(245, 75%, 52%), 10%);
    }
    @media (max-width: 325px) {
        padding: 0;
    }
}
